{erl_opts, [debug_info]}.

{deps, [{cowboy, "*.*",
	 {git, "https://github.com/ninenines/cowboy", {tag, "2.7.0"}}},
	{base64url, "*.*",
	 {git, "https://github.com/dvv/base64url", {tag, "1.0.1"}}},
	{jsonerl, "*.*",
	 {git, "https://github.com/wallacegibbon/jsonerl", {tag, "0.2.2"}}}
       ]}.

{shell, [{apps, [serval]},
	 %{config, "config/sys.config"}
	]}.

